.checkout{
    display: flex;
    padding:20px;
    background-color: white;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
}


.checkout__ad{
    width: 100%;
    margin-bottom: 10px;
}

.checkout__ad > img{
    width: 100%;
}