.checkoutproduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutproduct__info{
    padding: 20px;
}

.checkoutproduct__info > button{
    background: #694bf0;
    border: 1px solid;
    margin-top: 10px;
    border-color: #694bf0 #694bf0 #694bf0;
    cursor: pointer;
   
    border-radius: 2px;
    color:white;
}

.checkoutproduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutproduct__rating{
    display: flex;
}

.checkoutproduct__title{
    font-size: 17px;
    font-weight: 800;
}